@charset "utf-8";
    
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@view-transition {
    navigation: auto;
}

:root {
    --fonte_padrao: "Lexend Deca", sans-serif;
    --fonte_links: "Noto-sans", sans-serif
}

* {
    font-family: var(--fonte_padrao);
    margin: 0px;
}

::selection {
    color: white;
    background-color: rgb(103, 207, 255);
}

body {
    background-image: linear-gradient(45deg, aliceblue, lightblue);
}

p {
    text-indent: 7px;
    text-align: justify;
}

header > img#banner{
    height: 8cm;
    width: 98%;
    object-fit: cover;
    object-position: center;
    border-radius: 1cm;
    margin: 8px 8px 20px 8px;
}

nav {
    min-width: 200px;
    max-width: 1300px;
    background-color: snow;
    box-shadow: 2px 2px 5px rgba(153, 200, 216, 0.74);
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    margin: 5px 30px;
    display: flex;
    justify-content: space-between;
}

nav > a {
    padding-left: 30px;
    padding-right: 30px;

    color: steelblue;
    font-weight: bold;
    text-decoration: none;
}

nav > a:hover {
    color: rgb(143, 191, 255);
    text-shadow: 1px 1px 3px black;
    transition-duration: .5s;
}

main {
    min-width: 200px;
    max-width: 1300px;
    background-color: snow;
    border-radius: 10px;
    padding: 0px 10px 10px 10px;
    margin: 5px 30px;
}

main > h1 {
    color: steelblue;
    margin-top: 0px;
    padding-top: 0px;
}

h1#socialh1 {
    padding-top: 10px;
}

main > h6 {
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 0px;
}

aside > ul {
    margin-top: 10px;
    margin-bottom: 10px;
    list-style-type: none;
}

aside > ul.social_links_img {
    /*FUTURAMENTE...*/
}

a#item1 {
    background-color: steelblue;
    color: snow;
    padding: 2px 4px;
}

a#item2 {
    background-color: steelblue;
    color: snow;
    padding: 2px 4px;
}

a#item3 {
    background-color: steelblue;
    color: snow;
    padding: 2px 4px;
}

a#item4 {
    background-color: steelblue;
    color: snow;
    padding: 2px 4px;
}

article {
    text-align: justify;
}

footer {
    background-color: steelblue;
    color: white;
    padding: 10px;
    margin-top: 30px;
}

div.footerlinks {
    padding: 5px 0px 10px 0px;
    text-align: center;
    justify-content: space-between;
}

div.footerlinks > a {
    font-family: var(--fonte_links);
    font-weight: bolder;
    color: lightblue;
    text-decoration: none;
    padding: 0px 50px;
}

div.footerlinks > a:hover {
    background-color: lightblue;
    color: steelblue;
    border-radius: 10px;
    transition-duration: .2s;
}